SevROVCore/SevROVClient/.vs/
SevROVCore/SevROVClient/packages/
SevROVCore/SevROVClient/SevROVClient/bin/
SevROVCore/SevROVClient/SevROVClient/obj/
build-SevROVAUVEmulator-Desktop_Qt_6_3_2_MinGW_64_bit-Debug/
Debug/
Release/
SevROV.pro.user
SevROV.pro.user.478fd3b
Build/
Builds/
